<html>
    <head>
        <title>P&aacute;gina de inicio</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    </head>
    <body>
        <form id="form_login" method="post">
            <table id="login">
                <tr>
                    <td>
                        Usuario:
                    </td>
                    <td>
                        <input type="text" name="username" value="" id="username" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Enviar" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>