<html>
    <head>
        <title>P&aacute;gina de inicio</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    </head>
    <body>
        <form id="form_login" method="post">
            <table id="login">
                <tr>
                    <td>
                        Contrase&ntilde;a:
                    </td>
                    <td>
                        <input type="password" name="usersecret" value="" id="usersecret" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Enviar" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>